doctype html
html(lang="en")
  head
    title= title

    link(rel="stylesheet" type="text/css" href="/styles.css")
  body

    include ../partials/_header
    h1 Music Practice Tracker
    p This is the music practic tracker. You can track your habits, update them daily and view your progress towards your goals!
    .habit__container
      

      each val in data
        
        ul.habit__card

          h3= val[0].instrument
          for ex in val

            li.card__li #{ ex.key} #{ex.category} #{ex.minutes} #{ex.exercise} #{ex.material}

            form(action="/exercise",method="post")
              input(type='datetime-local' name="datetime" value= locals.now)
              input(type='string' name="exercise" value= ex.exercise)
              input(type='string' name="material" value= ex.material)
              input(type='number' name="mins" value= ex.minutes)
              input(type='string' name="category" value= ex.category)
              input(type='string' name="instrument" value= ex.instrument)
              
              button(type='submit' value='New Rating!') Click me to submit your Work




  script(src="/pugFunctions.js")