doctype html
html(lang="en")
  head
    title= title

    link(rel="stylesheet" type="text/css" href="/styles.css")
  body


    include ../partials/_header
    script.
        // Sets the username of the current user to be displayed site-wide
        function submitForm(t) {
              document.body.style.background = 'green'
              //- return confirm('Rollback deletion of candidate table?');
              console.log(t.value)
          }



    h1 Music Practice Tracker
    p This is the music practic tracker. You can track your habits, update them daily and view your progress towards your goals!
    h2 Todays key is #{data.bass[0].key}
    .habit__container
      

      each val in data
        
        ul.habit__card

          h3= val[0].instrument
          for ex in val
            if ex.practiced
              li.card__li Play #{ex.exercise} for #{ex.minutes} minutes using #{ex.material} is already done!
            else
              li.card__li Exercise category is #{ex.category} 
              li.card__li Play #{ex.exercise} for #{ex.minutes} minutes using #{ex.material}

            form(action="/exercise",method="post")
              input.form__input(type='datetime-local' name="datetime" value= locals.now)
              input.form__input(type='string' name="exercise" value= ex.exercise)
              input.form__input(type='string' name="material" value= ex.material)
              input.form__input(type='number' name="mins" value= ex.minutes)
              input.form__input(type='string' name="category" value= ex.category)
              input.form__input(type='string' name="instrument" value= ex.instrument)
              input.form__input(type='number' name="exercise_number" value= ex.exercise_number)
              
              button.ex__form(type='submit' value='New Rating!',onclick='submitForm(' + ex.minutes + ')') Click me to submit your Work




