doctype html
html(lang="en")
  head
    title= title

    link(rel="stylesheet" type="text/css" href="/styles.css")
  body

    include ../partials/_header
    h1 Music Practice Tracker
    p This is the music practic tracker. You can track your habits, update them daily and view your progress towards your goals!
    .habit__container
      

      each val in data
        
        ul.habit__card
          for ex in val
            
            li.card__li #{ ex.key} #{ex.category} #{ex.minutes} #{ex.exercise} #{ex.material}
            //- li.card__li= ex.category
            //- li.card__li= ex.minutes
            //- li.card__li= ex.exercise
            //- if ex.material
            //-   li.card__li= ex.material
                //- button(type='button' value="Read More" onclick= locals.logMe()) Begin exercise for #{ex.minutes} minutes
                //-onclick='gotoBlog(' + val.link + ')'
